[submodule "public"]
	path = public
	url = https://github.com/s3rgi/s3rgi.github.io.git
	branch = main
[submodule "themes/themes/hugo-clarity"]
	path = themes/themes/hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
